<h3> About Me</h3>

<p>I am a London-based software engineer and general technology enthusiast.</p> 

<p>I have an interest and/or professional experience in a wide range of technologies, starting from my time as Honourary IT Lead of my Primary School, through to my over 10 years of experience as a professional software engineer across the charity, healthcare, financial and insurance sectors.
    
<p>Some of the tools and languages I have worked with are below, but not limited to this. For a more detailed list, please see my full CV (available on request), and feel free to check out my Pluralsight profile to see what I've been learning recently.</p>

<ul>
    <li *ngFor="let item of technologys">
        {{item.name}}
    </li>
</ul>

<p>Outside of computing and I.T. I am a volunteer with St John Ambulance with whom I am trained to the Emergency Ambulance Crew standard, and have a Certificate in Emergency Response Ambulance Driving (allowing me to use "blue lights & sirens").</p>

<p>I enjoy a wide array of books, music, movies, and games (board and video), as well as running, swimming, walking, and cycling (ideally while also travelling).</p>

<div class="responsive">
    <div class="gallery">
        <img src="images/coronationmedal.png" alt="Coronation Medal">
        <div class="desc">Receiving the <a href="https://en.wikipedia.org/wiki/King_Charles_III_Coronation_Medal" target="_blank">Coronation Medal</a></div>
    </div>
</div>
<div class="responsive">
    <div class="gallery">
        <img src="images/marathon.png" alt="London Marathon">
        <div class="desc">SJA Reception post-London Marathon</div>
    </div>
</div>
<div class="responsive">
    <div class="gallery">
        <img src="images/servicemedal.png" alt="Service Medal">
        <div class="desc">Celebrating <a href="https://en.wikipedia.org/wiki/Service_Medal_of_the_Order_of_St_John" target="_blank">10 years</a> of Voluntary Service</div>
    </div>
</div>
<div class="responsive">
    <div class="gallery">
        <img src="images/ridelondon.png" alt="Ride London">
        <div class="desc">Crossing Tower Bridge during RideLondon</div>
    </div>
</div>

<div class="clearfix"></div>