<h3> About Me</h3>

<p>I am a London-based software engineer and general technology enthusiast, and a volunteer for St John Ambulance.</p> 

<p>I have an interest and/or professional experience in a wide range of technologies, including but not limited to the below. For a more detailed list, please see my full CV (available on request).</p>

<ul>
    <li *ngFor="let item of technologys">
        {{item.name}}
    </li>
</ul>

<p>I have over 10 years commercial software engineering experience across a number of sectors, such as: insurance, financial services (trading and post-trade), healthcare, charities and local government.</p>

<p>For more information, feel free to check out my Pluralsight Skill IQs or get in touch using the below contact details.</p>