<h3> About</h3>

<p>I am a London-based software engineer and general technology enthusiast.</p> 

<p>I have an interest and/or professional experience in a wide range of technologies, starting from my time as Honourary IT Lead of my Primary School, through to my over 10 years of experience as a professional software engineer across the charity, healthcare, financial and insurance sectors.

<p>I primarily work in the C#/.NET/Windows space, including building & deploying applications, configuring servers, and maintaining connections to external systems. I am particularly keen on making sure applications are easily deployable (TeamCity, Octopus), reliable (Seq, Zabbix, Serilog, documented code reviews with pull requests), and supportable (Confluence, Jira Service Desk).</p>

<p>I have also worked in Kotlin (for TeamCity) and Python (for some client integrations and personal/side projects).</p>

<p>I've tried to list everything I've worked with <a href="https://stackshare.io/danielmcn/my-stack" target="_blank">on my StackShare account</a>, but I'm sure I've missed some out. I'm always happy to learn something new if it is the right tool for the task (I learnt Python just because a library I wanted to use was better in Py than C#!), rather than trying to force something I already know into a workflow where it doesn't fit - feel free to check out my Pluralsight profile to see what I've been learning recently.</p>

<p>I have a full CV available by request - please connect with me on LinkedIn and I'll gladly forward it to you.</p>

<!--
<ul>
    <li *ngFor="let item of technologys">
        {{item.name}}
    </li>
</ul>
-->

<p>Outside of computing and I.T., I am a volunteer with St John Ambulance with whom I am trained to the Emergency Ambulance Crew standard, and have a Certificate in Emergency Response Ambulance Driving (allowing me to use "blue lights & sirens").</p>

<p>I enjoy a wide array of books, music, movies, and games (board and video), as well as running, swimming, walking, and cycling (ideally while also travelling).</p>

<div class="responsive">
    <div class="gallery">
        <img src="images/coronationmedal.png" alt="Coronation Medal">
        <div class="desc">Receiving the <a href="https://en.wikipedia.org/wiki/King_Charles_III_Coronation_Medal" target="_blank">Coronation Medal</a></div>
    </div>
</div>
<div class="responsive">
    <div class="gallery">
        <img src="images/marathon.png" alt="London Marathon">
        <div class="desc">SJA Reception post-London Marathon</div>
    </div>
</div>
<div class="responsive">
    <div class="gallery">
        <img src="images/servicemedal.png" alt="Service Medal">
        <div class="desc">Celebrating <a href="https://en.wikipedia.org/wiki/Service_Medal_of_the_Order_of_St_John" target="_blank">10 years</a> of Voluntary Service</div>
    </div>
</div>
<div class="responsive">
    <div class="gallery">
        <img src="images/ridelondon.png" alt="Ride London">
        <div class="desc">Crossing Tower Bridge during RideLondon</div>
    </div>
</div>

<div class="clearfix"></div>