<h3>Hey there!</h3>

You've reached the (very Windows 95-inspired) personal website of <strong>{{name}}</strong>!

<p>Here you'll find some information about me, technologies I have worked with, and some things I like that I think might help you, too.</p>

<p>The best way to get in touch would initially be through my <a href="{{linkedInProfileUrl}}">LinkedIn</a>, where I can give you my <em>real</em> email.</p>

<p>If you <em>need</em> an email address, you can use <strong>{{emailAddressObfuscated}}</strong>.</p>

<p>If you just want to poke around the code behind this site, it's available on <a href="{{githubUrl}}">GitHub</a>.</p>

<p>Thanks for visiting!</p>

<p style="font-family: 'Comic Sans MS', 'Comic Sans', cursive; font-weight: bolder; font-size: larger;">- Daniel</p>