<h3>Hey there!</h3>

You've reached the (very Windows 95-inspired) personal website of <strong>{{name}}</strong>!

<p>Here you'll find some information about me, technologies I have worked with, and some things that I like.</p>

<p>This site is built using Angular and deployed to Azure using GitHub Actions, with the code available <a href="{{githubUrl}}">here</a> for the curious.</p>

<p>The best way to get in touch would initially be through my <a href="{{linkedInProfileUrl}}">LinkedIn</a>, where we can then move on to email if needed.</p>

<p>Thanks for visiting!</p>

<p style="font-family: 'Comic Sans MS', 'Comic Sans', 'Comic Neue', Chalkboard, cursive; font-weight: bolder; font-size: larger;">- Daniel :)</p>