<h3>Certifications</h3>

<ul>
    <li>Bachelor of Engineering (Honours) in Computer Science (Queen's University of Belfast)</li>
    <li>Level 3 Certificate in Emergency Response Ambulance Driving (FutureQuals)</li>
    <li>Emergency Ambulance Crew (St John Ambulance)</li>
    <li>70-483 Programming in C# (Microsoft)</li>
</ul>

<p>I hold a clean UK HGV licence (Category C/Class 2) and I am a <a href="https://www.iamroadsmart.com/membership/exemption" target="_blank">Member by Exemption</a> of the IAM.</p>
    
<p>I also have a valid motorcycle CBT certificate, and was previously a Cycle Responder for St John after passing a police instructor-led cycle course.</p>