<h3>Certifications & Awards</h3>

<p>I have achieved these certifications in my life, all of which I am thankful for the opportunity to have done:</p>

<ul>
    <li>Bachelor of Engineering (Honours) in Computer Science (Queen's University of Belfast)</li>
    <li>Level 3 Certificate in Emergency Response Ambulance Driving (FutureQuals)</li>
    <li>Emergency Ambulance Crew (St John Ambulance)</li>
    <li>70-483 Programming in C# (Microsoft)</li>
</ul>

<p>I hold a HGV licence (Category C/Class II), albeit without Driver CPC at present. I also have a valid motorcycle CBT certificate, and was previously a Cycle Responder for St John.</p>

<p>I have also been so grateful to have received, or played a part in, the following awards and honours:</p>

<ul>
    <li>St John Ambulance: The Paul Fiddy Shield for Fundraising</li>
    <li>His Majesty The King: <a href="https://en.wikipedia.org/wiki/King_Charles_III_Coronation_Medal" target="_blank">Medal for the Coronation</a> of Their Majesties The King and Queen Consort</li>
    <li>The Most Venerable Order of the Hospital of St John of Jerusalem: <a href="https://en.wikipedia.org/wiki/Service_Medal_of_the_Order_of_St_John" target="_blank">Service Medal</a> of the Order</li>
    <li>NI Razorbacks: Coaches Award</li>
    <li>QUB: Voluntary / Charitable Club or Society of the Year (St John Ambulance)</li>
</ul>

<div class="responsive">
    <div class="gallery">
        <img src="images/coronationmedal.png" alt="Coronation Medal">
        <div class="desc">Receiving the Coronation Medal</div>
    </div>
</div>
<div class="responsive">
    <div class="gallery">
        <img src="images/marathon.png" alt="London Marathon">
        <div class="desc">SJA Reception post-London Marathon</div>
    </div>
</div>
<div class="responsive">
    <div class="gallery">
        <img src="images/servicemedal.png" alt="Service Medal">
        <div class="desc">Celebrating 10 years of Voluntary Service</div>
    </div>
</div>
<div class="responsive">
    <div class="gallery">
        <img src="images/ridelondon.png" alt="Ride London">
        <div class="desc">Crossing Tower Bridge during RideLondon</div>
    </div>
</div>

<div class="clearfix"></div>